{% for entry in data %}
    <div id="blog-id-{{ entry.id }}" class="blog-post">
        <div class="grid-container">
            <div class="grid-x grid-margin-x blog-card2">
                <div class="cell large-5 large-offset-1 blog-card-thumbnail2">
                    <img src="{{ asset('images') }}/{{entry.image}}" />
                </div>
                <div class="cell large-6 blog-card-right2">
                    <h1 class="title">{{ entry.title }}</h1>
                    <div class="blog-card-separator"></div>
                    <div class="blog-content">{{ entry.content|raw }}</div>
                </div>
                <h5 class="day">{{ entry.createdAt.date|date('d') }}</h5>
                <h6 class="month">{{ entry.createdAt.date|date('F') }}</h6>
                <ul class="blog-actions">
                    <li><a data-id="{{ entry.id }}" data-type="modal"  data-url="cms" href="#"><i class="far fa-edit fa-2x"></i></a></li>
                    <li><a data-id="{{ entry.id }}" data-type="delete" data-url="cms" href="#"><i class="far fa-trash-alt fa-2x"></i></a></li>
                </ul>
                <div class="blog-card-fab2"><i class="fa fa-arrow-down fa-3x"></i></div>
            </div>
        </div>
    </div>


    <script>
        var currentEntry = $("#blog-id-{{ entry.id }}").find(".blog-content");
        var height = currentEntry.height();
        if (height <= 260) {
            $("#blog-id-{{ entry.id }}").find(".blog-card-fab2").hide();
        } else {
            currentEntry.data("entryHeight", height);
            currentEntry.css('max-height', "260px");
        }
    </script>
{% else %}
    <div>
        <p>No Content found! Komm später wieder. Bitte ....</p>
    </div>
{% endfor %}

<script>

    $(".blog-card-fab2").on("click", function() {
        var selectedEntry = $(this).parent().find('.blog-content');
        $(this).toggleClass("open");
        if ($(this).hasClass("open")) {
            $('.blog-content').css('max-height', selectedEntry.data("entryHeight"));
            $(this).children().removeClass("fa-arrow-down").addClass("fa-arrow-up");

        } else {
            $('.blog-content').css('max-height', '260px');
            $(this).children().removeClass("fa-arrow-up").addClass("fa-arrow-down");

            $('html, body').animate({
                scrollTop: $(this).parent().offset().top -130
            }, 500);
        }
    });
</script>